@model practica1.Models.UsuarioModel
@{
  ViewBag.Title = "Login Page";
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login Form</title>

  <link href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/Content/login/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="~/Content/admin/css/sb-admin.min.css" rel="stylesheet" />
</head>
<body class="bg-dark">
  <br />
  <br />
  <br />
  <br />
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
          @Html.AntiForgeryToken()
          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          <div class="form-group">
            <label for="UserName">Usuario</label>
            @Html.TextBoxFor(m => m.UserName, new { id = "UserName", @class = "form-control", placeholder = "Ingrese su usuario" })
          </div>

                    <div class="form-group">
                      <label for="Password">Password</label>
                      @Html.PasswordFor(m => m.Password, new { id = "Password", @class = "form-control", placeholder = "Password" })
                    </div>
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        }
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="~/Content/login/vendor/jquery/jquery.min.js"></script>
  <script src="~/Content/login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="~/Content/login/vendor/jquery-easing/jquery.easing.min.js"></script>

  @section Scripts
  {
    @Scripts.Render("~/bundles/jqueryval")
  }

</body>
</html>