@model IEnumerable<Dominio.Models.Cliente>

@{
    ViewBag.Title = "Customers";
}

<br />
<br />

<h2>Customers</h2>

<table id="listar" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <b>Id</b>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/datatables")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#listar').dataTable({
                "bServerSide": true,
                "sAjaxSource": '@Url.Action("GetDataCustomers", "Agenda")',
                "bProcessing": true,
                "bdestroy": true,
                "start": 0,
                "order": [0, "asc"],
                "bDeferRender": true,

                "aoColumns": [
                        { "sName": "ClienteId", "mData": "ClienteId" },
                        { "sName": "Nombre", "mData": "Nombre" },
                        { "sName": "Correo", "mData": "Correo" },
                ],
            });
        });
    </script>
}