@model Dominio.Models.Agenda

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>
    <h4>Agenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Nombre</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <b>Apellido</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <b>Correo Electrónico</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <b>Fecha Ingreso Sistema</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            <b>N° Extensión</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extension)
        </dd>

        <dt>
            <b>Sucursal</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sucursal)
        </dd>

        <dt>
            <b>PostBox</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostBox)
        </dd>

        <dt>
            <b>Fax</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            <b>Linea Celular</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaCelular)
        </dd>

        <dt>
            <b>Linea Celular Adicional</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LineaCelularAdicional)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
